.topcontainer{
  width:200px;
  height:200px;
  background-color: #fbe6c2;
  position: absolute;
  left: 400px;
   top: 400px;
}
.middlecontainer{
  background-color: #e9896a;
  height: 200px;
  width: 200px;
  position: absolute;
  left:200px;
  top: 200px;
}
.bottomcontainer{
  height: 200px;
  width: 200px;
  background-color: #387c6d;
  position: absolute;
  top: 0;
  left:0;

  }
